.bg-img {

  background-image: url(assets/images/abstract-technology-backgroundsecurity-concept-with-padlock-ico-picture-id618950118.jpg.800x600_q96.png);
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

